/* Custom font face definition */
@font-face {
    font-family: 'ABC Synt Unlicensed Trial';
    src: url('ABCSyntUnlicensedTrial-Regular.woff2') format('woff2'),
         url('ABCSyntUnlicensedTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General body styling */
html, body {
    font-family: 'ABC Synt Unlicensed Trial';
    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Allow scrolling */
}

body {
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling of the background */
    width: 100vw; /* Ensure the body takes up the full viewport width */
    height: 100vh; /* Ensure the body takes up the full viewport height */
}

/* Styling for the statement content */
.statement-content {
    width: 700px; /* Fixed width for the textbox */
    text-align: left; /* Left-align the content */
    padding: 20px;
}

/* Close button styling */
.close-button {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    display: block;
    margin-bottom: 20px; /* Space between the button and the content */
    position: absolute; /* Positioning the close button at the top-left */
    top: 20px;
    left: 20px;
}

/* Link styling */
a {
    color: black;
    text-decoration: none; /* Remove underline from links */
}

/* Hover effect for links */
a:hover {
    font-style: italic; /* Make links italic on hover */
}

/* Close button hover effect */
.close-button:hover {
    font-style: normal; /* No italics on hover for the close button */
}

@media (max-width: 768px) {
.statement-content {
    width: 350px; /* Fixed width for the textbox */
    text-align: left; /* Left-align the content */
    padding: 20px;
}

}
