/* Custom font face definition */
@font-face {
    font-family: 'ABC Synt Unlicensed Trial';
    src: url('ABCSyntUnlicensedTrial-Regular.woff2') format('woff2'),
         url('ABCSyntUnlicensedTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General body styling */
html, body {
    font-family: 'ABC Synt Unlicensed Trial';

    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Disable scrolling on the page */
}

body {
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling of the background */
    width: 100vw; /* Ensure the body takes up the full viewport width */
    height: 100vh; /* Ensure the body takes up the full viewport height */
}


